wheel
tqdm
roma
tyro
fire
splines
kornia
open-clip-torch
transformers
diffusers==0.33.1
accelerate==1.8.1
pytorch_lightning==2.5.1
peft==0.10.0
timm
jaxtyping==0.2.28
beartype==0.18.5
numpy==1.24.4
wandb==0.19.9
einops
addict
omegaconf
safetensors
huggingface-hub
scikit-image
scikit-learn
matplotlib
moviepy<2
imageio
imageio[ffmpeg]
dacite
lpips
e3nn
plyfile
networkx
opencv-python>=4.8.1.78
pyiqa
colorama
pandas
openpyxl
